In [1]:
import xml.etree.ElementTree as ET
import datetime as dt
import pandas as pd

In [3]:
df = pd.read_xml('/Users/dickinsonjo/repos/HRV-Calculator/data/export.xml')

In [4]:
df.describe()

,MetadataEntry,duration,WorkoutEvent,WorkoutStatistics,WorkoutRoute,activeEnergyBurned,activeEnergyBurnedGoal,appleMoveTime,appleMoveTimeGoal,appleExerciseTime,appleExerciseTimeGoal,appleStandHours,appleStandHoursGoal,HeartRateVariabilityMetadataList
count,0.0,234.000000,0.0,0.0,0.0,192.000000,192.000000,192.0,192.0,192.000000,192.000000,192.000000,192.0,0.0
mean,NaN,32.664300,NaN,NaN,NaN,579.513573,825.468750,0.0,0.0,41.291667,53.750000,8.203125,12.0,NaN
std,NaN,25.592954,NaN,NaN,NaN,398.977548,135.487443,0.0,0.0,38.107018,4.219129,5.007365,0.0,NaN
min,NaN,1.455924,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000000,30.000000,0.000000,12.0,NaN
25%,NaN,18.524676,NaN,NaN,NaN,281.548750,850.000000,0.0,0.0,7.000000,55.000000,4.000000,12.0,NaN
50%,NaN,26.775314,NaN,NaN,NaN,624.324500,850.000000,0.0,0.0,35.000000,55.000000,10.000000,12.0,NaN
75%,NaN,41.100140,NaN,NaN,NaN,834.042000,850.000000,0.0,0.0,68.000000,55.000000,12.000000,12.0,NaN
max,NaN,252.883333,NaN,NaN,NaN,2285.680000,850.000000,0.0,0.0,244.000000,55.000000,16.000000,12.0,NaN

In [5]:
df.columns

Index(['value', 'HKCharacteristicTypeIdentifierDateOfBirth',
       'HKCharacteristicTypeIdentifierBiologicalSex',
       'HKCharacteristicTypeIdentifierBloodType',
       'HKCharacteristicTypeIdentifierFitzpatrickSkinType',
       'HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse', 'type',
       'sourceName', 'sourceVersion', 'device', 'unit', 'creationDate',
       'startDate', 'endDate', 'MetadataEntry', 'workoutActivityType',
       'duration', 'durationUnit', 'WorkoutEvent', 'WorkoutStatistics',
       'WorkoutRoute', 'dateComponents', 'activeEnergyBurned',
       'activeEnergyBurnedGoal', 'activeEnergyBurnedUnit', 'appleMoveTime',
       'appleMoveTimeGoal', 'appleExerciseTime', 'appleExerciseTimeGoal',
       'appleStandHours', 'appleStandHoursGoal',
       'HeartRateVariabilityMetadataList'],
      dtype='object')

In [6]:
df.startDate.isnull().sum()

194

In [7]:
date_cols = ['creationDate', 'startDate', 'endDate']

for col in date_cols:
    df[col] = pd.to_datetime(df[col])

In [8]:
df['type'] = df['type'].str.replace('HKQuantityTypeIdentifier', '')
df['type'] = df['type'].str.replace('HKCategoryTypeIdentifier', '')
df['workoutActivityType'] = df['workoutActivityType'].str.replace('HKWorkoutActivityType', '')

In [9]:
df['value'] = pd.to_numeric(df['value'], errors='coerce')
df['value'] = df['value'].fillna(1.0)

df['duration'] = pd.to_numeric(df['duration'])
df['activeEnergyBurned'] = pd.to_numeric(df['activeEnergyBurned'])

In [10]:
df['MetadataEntry'].unique()

array([nan])

In [11]:
df_cleaned = df.drop(columns=['HKCharacteristicTypeIdentifierFitzpatrickSkinType', 
                              'HeartRateVariabilityMetadataList', 
                              'HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse',
                              'HKCharacteristicTypeIdentifierBloodType',
                              'HKCharacteristicTypeIdentifierBiologicalSex',
                              'HKCharacteristicTypeIdentifierDateOfBirth',
                              'WorkoutEvent',
                              'WorkoutRoute',
                              'WorkoutStatistics',
                              'MetadataEntry'
                              ]).copy()

In [12]:
df_cleaned.head()

,value,type,sourceName,sourceVersion,device,unit,creationDate,startDate,endDate,workoutActivityType,...,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit,appleMoveTime,appleMoveTimeGoal,appleExerciseTime,appleExerciseTimeGoal,appleStandHours,appleStandHoursGoal
0,1.000,None,None,None,None,None,NaT,NaT,NaT,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
1,1.000,None,None,None,None,None,NaT,NaT,NaT,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
2,131.320,DietaryWater,Cronometer,1050,"<<HKDevice: 0x280d46d50>, name:iPhone, manufac...",mL,2021-09-19 16:39:29-07:00,2021-09-20 00:00:00-07:00,2021-09-20 00:00:00-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
3,162.087,DietaryWater,Cronometer,1115,"<<HKDevice: 0x280d45270>, name:iPhone, manufac...",mL,2021-11-08 17:09:36-07:00,2021-11-08 01:00:00-07:00,2021-11-08 01:00:00-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
4,162.087,DietaryWater,Cronometer,1115,"<<HKDevice: 0x280d45270>, name:iPhone, manufac...",mL,2021-11-15 08:35:30-07:00,2021-11-15 01:00:00-07:00,2021-11-15 01:00:00-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_cleaned[df_cleaned['sourceName'] == 'Cronometer' ].describe()

,value,duration,activeEnergyBurned,activeEnergyBurnedGoal,appleMoveTime,appleMoveTimeGoal,appleExerciseTime,appleExerciseTimeGoal,appleStandHours,appleStandHoursGoal
count,1755.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,62.221815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,140.731053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.002400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.648000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,5.347500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,48.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2039.520000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_cleaned['type'].unique()

array([None, 'DietaryWater', 'Height', 'BodyMass', 'HeartRate',
       'RespiratoryRate', 'BodyFatPercentage', 'StepCount',
       'DistanceWalkingRunning', 'BasalEnergyBurned',
       'ActiveEnergyBurned', 'FlightsClimbed', 'DietaryFatTotal',
       'DietaryFatPolyunsaturated', 'DietaryFatMonounsaturated',
       'DietaryFatSaturated', 'DietaryCholesterol', 'DietarySodium',
       'DietaryCarbohydrates', 'DietaryFiber', 'DietarySugar',
       'DietaryEnergyConsumed', 'DietaryProtein', 'DietaryVitaminA',
       'DietaryVitaminB6', 'DietaryVitaminB12', 'DietaryVitaminC',
       'DietaryVitaminD', 'DietaryVitaminE', 'DietaryVitaminK',
       'DietaryCalcium', 'DietaryIron', 'DietaryThiamin',
       'DietaryRiboflavin', 'DietaryNiacin', 'DietaryFolate',
       'DietaryBiotin', 'DietaryPantothenicAcid', 'DietaryPhosphorus',
       'DietaryIodine', 'DietaryMagnesium', 'DietaryZinc',
       'DietarySelenium', 'DietaryCopper', 'DietaryManganese',
       'DietaryChromium', 'DietaryMolybdenum', 'DietaryPotassium',
       'AppleExerciseTime', 'DistanceCycling', 'RestingHeartRate',
       'VO2Max', 'WalkingHeartRateAverage', 'EnvironmentalAudioExposure',
       'HeadphoneAudioExposure', 'WalkingDoubleSupportPercentage',
       'SixMinuteWalkTestDistance', 'AppleStandTime', 'WalkingSpeed',
       'WalkingStepLength', 'WalkingAsymmetryPercentage',
       'HKDataTypeSleepDurationGoal', 'AppleWalkingSteadiness',
       'HeartRateRecoveryOneMinute', 'RunningSpeed', 'SleepAnalysis',
       'AppleStandHour', 'HeartRateVariabilitySDNN'], dtype=object)

In [28]:
df_cleaned[df_cleaned['type'] == 'HeartRateRecoveryOneMinute' ]

,value,type,sourceName,sourceVersion,device,unit,creationDate,startDate,endDate,workoutActivityType,...,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit,appleMoveTime,appleMoveTimeGoal,appleExerciseTime,appleExerciseTimeGoal,appleStandHours,appleStandHoursGoal
800926,52.5256,HeartRateRecoveryOneMinute,Jonathan’s Apple Watch,2780.0.28.0.2,None,count/min,2023-01-16 16:42:31-07:00,2023-01-16 16:38:17-07:00,2023-01-16 16:38:17-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
800927,52.5250,HeartRateRecoveryOneMinute,Jonathan’s Apple Watch,2780.0.28.0.2,None,count/min,2023-01-17 15:25:13-07:00,2023-01-17 15:22:58-07:00,2023-01-17 15:22:58-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
800928,52.5250,HeartRateRecoveryOneMinute,Jonathan’s Apple Watch,2780.0.28.0.2,None,count/min,2023-01-23 07:13:21-07:00,2023-01-23 07:13:10-07:00,2023-01-23 07:13:10-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
800929,52.5250,HeartRateRecoveryOneMinute,Jonathan’s Apple Watch,2780.0.35,None,count/min,2023-01-28 12:47:46-07:00,2023-01-28 12:47:42-07:00,2023-01-28 12:47:42-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
800930,52.5250,HeartRateRecoveryOneMinute,Jonathan’s Apple Watch,2780.0.35,None,count/min,2023-02-03 14:25:46-07:00,2023-02-03 14:25:41-07:00,2023-02-03 14:25:41-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
800931,52.5250,HeartRateRecoveryOneMinute,Jonathan’s Apple Watch,2780.0.35,None,count/min,2023-02-05 16:51:17-07:00,2023-02-05 16:51:12-07:00,2023-02-05 16:51:12-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
800932,41.1842,HeartRateRecoveryOneMinute,Jonathan’s Apple Watch,2780.0.35,None,count/min,2023-02-20 14:00:46-07:00,2023-02-20 14:00:34-07:00,2023-02-20 14:00:34-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
800933,44.9048,HeartRateRecoveryOneMinute,Jonathan’s Apple Watch,2780.0.35,None,count/min,2023-02-21 11:13:53-07:00,2023-02-21 11:13:49-07:00,2023-02-21 11:13:49-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
800934,44.9042,HeartRateRecoveryOneMinute,Jonathan’s Apple Watch,2780.0.35,None,count/min,2023-02-27 16:45:01-07:00,2023-02-27 16:44:49-07:00,2023-02-27 16:44:49-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
800935,44.9042,HeartRateRecoveryOneMinute,Jonathan’s Apple Watch,2780.0.35,None,count/min,2023-03-05 13:36:14-07:00,2023-03-05 13:36:07-07:00,2023-03-05 13:36:07-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_cleaned['workoutActivityType'].unique()

array([None, 'HighIntensityIntervalTraining', 'Running', 'Cycling',
       'Hiking', 'TraditionalStrengthTraining', 'Walking', 'SnowSports',
       'Cooldown'], dtype=object)

In [46]:
# Sort by date
rhr_df =      df_cleaned[df_cleaned['type'] == 'RestingHeartRate' ].sort_values(by="creationDate").copy()
hrv_df =      df_cleaned[df_cleaned['type'] == 'HeartRateVariabilitySDNN' ].sort_values(by="creationDate").copy()
cycling_df =  df_cleaned[df_cleaned['workoutActivityType'] == 'Cycling' ].sort_values(by='creationDate').copy()
walking_df =  df_cleaned[df_cleaned['workoutActivityType'] == 'Walking' ].sort_values(by='creationDate').copy()
hiking_df =   df_cleaned[df_cleaned['workoutActivityType'] == 'Hiking' ].sort_values(by='creationDate').copy()
running_df =  df_cleaned[df_cleaned['workoutActivityType'] == 'Running' ].sort_values(by='creationDate').copy()
strength_df = df_cleaned[df_cleaned['workoutActivityType'] == 'TraditionalStrengthTraining' ].sort_values(by='creationDate').copy()

In [55]:
df_cleaned['type'].unique()

array([None, 'DietaryWater', 'Height', 'BodyMass', 'HeartRate',
       'RespiratoryRate', 'BodyFatPercentage', 'StepCount',
       'DistanceWalkingRunning', 'BasalEnergyBurned',
       'ActiveEnergyBurned', 'FlightsClimbed', 'DietaryFatTotal',
       'DietaryFatPolyunsaturated', 'DietaryFatMonounsaturated',
       'DietaryFatSaturated', 'DietaryCholesterol', 'DietarySodium',
       'DietaryCarbohydrates', 'DietaryFiber', 'DietarySugar',
       'DietaryEnergyConsumed', 'DietaryProtein', 'DietaryVitaminA',
       'DietaryVitaminB6', 'DietaryVitaminB12', 'DietaryVitaminC',
       'DietaryVitaminD', 'DietaryVitaminE', 'DietaryVitaminK',
       'DietaryCalcium', 'DietaryIron', 'DietaryThiamin',
       'DietaryRiboflavin', 'DietaryNiacin', 'DietaryFolate',
       'DietaryBiotin', 'DietaryPantothenicAcid', 'DietaryPhosphorus',
       'DietaryIodine', 'DietaryMagnesium', 'DietaryZinc',
       'DietarySelenium', 'DietaryCopper', 'DietaryManganese',
       'DietaryChromium', 'DietaryMolybdenum', 'DietaryPotassium',
       'AppleExerciseTime', 'DistanceCycling', 'RestingHeartRate',
       'VO2Max', 'WalkingHeartRateAverage', 'EnvironmentalAudioExposure',
       'HeadphoneAudioExposure', 'WalkingDoubleSupportPercentage',
       'SixMinuteWalkTestDistance', 'AppleStandTime', 'WalkingSpeed',
       'WalkingStepLength', 'WalkingAsymmetryPercentage',
       'HKDataTypeSleepDurationGoal', 'AppleWalkingSteadiness',
       'HeartRateRecoveryOneMinute', 'RunningSpeed', 'SleepAnalysis',
       'AppleStandHour', 'HeartRateVariabilitySDNN'], dtype=object)

In [63]:
df_cleaned[df_cleaned['type'] == 'SleepAnalysis' ].tail()

,value,type,sourceName,sourceVersion,device,unit,creationDate,startDate,endDate,workoutActivityType,...,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit,appleMoveTime,appleMoveTimeGoal,appleExerciseTime,appleExerciseTimeGoal,appleStandHours,appleStandHoursGoal
803175,1.0,SleepAnalysis,iPhone (6),16.1,None,None,2023-03-12 05:00:01-07:00,2023-03-12 00:21:21-07:00,2023-03-12 05:00:01-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
803176,1.0,SleepAnalysis,iPhone (6),16.1,None,None,2023-03-13 05:00:01-07:00,2023-03-12 22:11:09-07:00,2023-03-13 05:00:00-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
803177,1.0,SleepAnalysis,iPhone (6),16.1,None,None,2023-03-14 05:00:03-07:00,2023-03-13 23:37:45-07:00,2023-03-14 05:00:02-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
803178,1.0,SleepAnalysis,iPhone (6),16.1,None,None,2023-03-15 05:00:02-07:00,2023-03-14 21:22:30-07:00,2023-03-15 05:00:02-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
803179,1.0,SleepAnalysis,iPhone (6),16.1,None,None,2023-03-16 05:00:01-07:00,2023-03-15 21:31:09-07:00,2023-03-16 05:00:00-07:00,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
new_df = pd.DataFrame()

In [ ]:
# hrr_df.to_csv("HRV_data.csv", index=False)